<div class="container">
<div class="row">
  <div class="card col-md-6 mx-auto mt-5 mb-5"  style="width: 22rem;">
    <h2 class="card-header">Fromulario Blog</h2>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <label class="col-auto">
          Title:
          <input type="text" formControlName="title" required class="form-control" />
        </label>
        <label class="col-auto">
          Content:
          <textarea formControlName="content" required class="form-control"></textarea>
        </label>
        <label class="col-auto">
          Aditional links:
          <input type="text" formControlName="links" class="form-control" />
        </label>

        <label class="col-auto">
          User:
          <select formControlName="user.id" required class="form-control">
            <option *ngFor="let user of users" [value]="user.id" class="form-control">
              {{ user.name }}
            </option>
          </select>
        </label>
        <label class="col-auto">
          Category:
          <select formControlName="category.id" required class="form-control">
            <option *ngFor="let category of categories" class="form-select" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </label>
        <br>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-primary mt-3">Crear Blog</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>