<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <label>
      ID:
      <input type="number" formControlName="id" required class="form-control" />
    </label>
    <label>
      Title:
      <input
        type="text"
        formControlName="title"
        required
        class="form-control"
      />
    </label>
    <label>
      Content:
      <textarea
        formControlName="content"
        required
        class="form-control"
      ></textarea>
    </label>
    <label>
      Links:
      <input
        type="text"
        formControlName="links"
        required
        class="form-control"
      />
    </label>
    <label>
      Status:
      <input
        type="checkbox"
        formControlName="status"
        required
        class="form-control"
      />
    </label>
    <label>
      User:
      <select formControlName="user.id" required class="form-control">
        <option
          *ngFor="let user of users"
          [value]="user.id"
          class="form-control"
        >
          {{ user.name }}
        </option>
      </select>
    </label>
    <label>
      Category:
      <select formControlName="category.id" required class="form-control">
        <option
          *ngFor="let category of categories"
          class="form-control"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
