<div class="container">
  <div class="card mt-4 mb-5">
    <div class="card-body">
      <h1 class="card-title"> {{blogs.title}} </h1>
      <h6 class="card-subtitle mb-2 text-body-secondary">Categoria: {{ blogs.category.name }}</h6>
      <p class="card-text">
        {{ blogs.content }}
      </p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Hecho por: {{ blogs.user.name }}</h6>
      <div class="row">
        <div class="col-10">
          <a [href]="blogs.links" class="card-link">Links adicionales</a>
        </div>

        <div class="col d-flex flex-reverse">
          <button (click)="goBack()" class="btn btn-outline-secondary">
            Regresar
          </button>
        </div>
      </div>
    </div>
  </div>