<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="../assets/img/logo.png" width="200" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['blog']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['oferta']">Oferta Educativa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['estudiantes']">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['docente']">Docente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['vinculacion']">Vinculación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['tramites']">Trámites y Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://saiiut.utvtol.edu.mx/">SAIIUT</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
